
/* ----------General---------- */
:root {
    --font-size-xxl: 1.953rem;
    --font-size-xl: 1.563rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 0.8rem;
    --font-size-xs: 0.64rem;
    --color-1: #FF214F;
    --color-2: #1A1A1A;
    --color-3: #272727;
    --color-4: #404040;
    --color-5: #808080;
    --color-6: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {   
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: var(--font-size-m);
    letter-spacing: 0.04rem;
}

h1 {
    font-size: var(--font-size-xl);
    letter-spacing: 0.063rem;
    font-weight: bold;
}

h2 {
    font-size: var(--font-size-m);
    letter-spacing: 0.04rem;
}

.site {
    display: grid;
    grid-template-rows: 67.5rem 31.25rem 43.75rem 21.875rem 60rem 56rem 62.5rem 10rem;
}


/* ----------Header---------- */
.header {
    overflow: hidden;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/img-01_16x9_2500w.jpg');
    background-position: center;
    background-size: cover;
}

a.nav-link.hover {
    text-align: center;
    margin: 0 .5rem;
    color: var(--color-6) !important;
    text-decoration: none;
    padding: 0 !important;
    letter-spacing: 2px;
}

.hover {
    display: inline-block;
    position: relative;
}

.hover::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.brand-statement {
    grid-column: 2 / 4;
    grid-row: 2 /3;
    z-index: 10;
    margin: 24rem 0 0 20%;
    color: var(--color-6);
    font-size: 1.2rem;
}

.brand-tagline {
    grid-column: 2 / 4;
    grid-row: 2 /3;
    z-index: 5;
    margin: 0 0 0 20%;
    padding-top: 5rem;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--color-6);
    font-family: 'Lora', serif;
    overflow:  hidden;
}



/* ----------Main Content---------- */

/* ----------Section 1---------- */
.mc-section-1 {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    box-shadow: 
    inset 0px 60px 30px -60px rgb(82, 82, 82),
    inset 0px -50px 30px -60px rgb(82, 82, 82);
    width: 100vw;
}

.s1-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.625rem;
    text-align: center;
    margin: 3rem 4rem 0 4rem;
}

.mc-section-1 img, .mc-section-1 h2, .mc-section-1 p {
    padding-top: 1.6rem;
}

.mc-section-1 h2 {
    font-size: var(--font-size-l);
    font-weight: bold;
}

.s1-img {
    width: 8.125rem;
}

/* ----------Section 2---------- */
.mc-section-2 {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 43.75rem 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #D8D9DE;
    width: 100vw;
}

.mc-section-2 img, .mc-section-2 h1, .mc-section-2 h2, .mc-section-2 p {
    padding-top: 1.6rem;
}

.mc-section-2 h2 {
    color: var(--color-1);
    font-size: var(--font-size-s);
}

.s2-ss1 {
    grid-column: 1 / 2;
    grid-row: 1 /3;
    height: 100%;  
}

.s2-ss2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    width: 25rem;
    margin: 30px 0 0 10%;
}

.s2-ss3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 18.75rem;
    margin-left: 20%;
}

.s2-ss4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 18.75rem;
}

.s2-icon {
    width: 3.75rem;
}

img.s2-img {
    height: 100%;
    padding: 0;
}

/* ----------Section 3---------- */
.mc-section-3 {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: var(--color-2);
    width: 100vw;
}

.mc-section-3 h1, .mc-section-3 h2, .mc-section-3 p {
    padding-top: 1.2rem;
    margin: 0;
}

.mc-section-3 h1 {
    font-size: var(--font-size-l);
    color: var(--color-6);
}

.mc-section-3 h2 {
    font-size: var(--font-size-s);
    color: var(--color-1);
}

.mc-section-3 p {
    font-size: var(--font-size-s);
    color: var(--color-6);
}

.s3-ss1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
}

.s3-ss3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    overflow: hidden;
}

.s3-ss2, .s3-ss4 {
    margin-top: 2.6rem;
    width: 18.75rem;
    margin: auto;
}

.s3-ss1 img, .s3-ss3 img {
    height: 100%;
}


/* ----------Section 4---------- */
.mc-section-4 {
    grid-row: 5 / 6;
    box-shadow: 
    inset 0px 60px 30px -60px rgb(82, 82, 82),
    inset 0px -50px 30px -60px rgb(82, 82, 82);
    width: 100vw;
}

.carousel-item {
    height: 60rem;
    position: relative; 
}

.s4-card1, .s4-card2, .s4-card3, .s4-card4 {
    position: absolute;
    bottom: 0;
    right: 20%;
    padding-bottom: 20rem;
}

.mc-section-4 h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

.s4-card1 ul, .s4-card2 ul, .s4-card3 ul, .s4-card4 ul {
    list-style-type: none;
}

p.package {
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
}

p.start-from {
    font-size: 0.875rem;
    margin: 3rem 0 0 0;
}

p.price {
    font-size: 1.8rem;
    color: var(--color-1);
    font-weight: 500;
}

.carousel-control-next-icon {
    background-image: url(../imgs/Arrow.svg) !important;
    background-size: 20px 20px;
}

.carousel-control-prev-icon {
    background-image: url(../imgs/Arrow.svg) !important;
    background-size: 20px 20px;
    transform: rotate(180deg);
}

.d-block.w-100.c1 {
    position: absolute;
    bottom: 7.5rem;
    left: 15%;
    padding-bottom: 14rem;
    width: 600px !important;
}

.d-block.w-100.c2 {
    position: absolute;
    top: 18rem;
    left: 15%;
    width: 600px !important;
}

.d-block.w-100.c3 {
    width: 200px !important;
    position: absolute;
    left: 25%;
    top: 24rem;
}

.d-block.w-100.c4 {
    position: absolute;
    top: 16rem;
    left: 15%;
    width: 600px !important;
}

/* ----------Section 5---------- */

.mc-section-5 {
    grid-row: 6 / 7;
    display: grid;
    grid-template-columns: 1fr 1fr 46.875rem;
    grid-template-rows: 12.5rem 1fr 1fr;
    background: #F2F0F0;
    width: 100vw;
}

.mc-section-5 h1, .mc-section-5 h2, .mc-section-5 p {
    padding-top: 1.6rem;
}

.mc-section-5 h2 {
    font-size: var(--font-size-s);
    color: var(--color-1);
}

section.s5-ss1 {
    grid-column: 1 / 3;
    grid-row: 1 /2;
    margin: 7.5% 0 0 15%;
    padding: 0;
    margin: 3rem 0 0 5rem;
}

section.s5-ss2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 75%;
    padding: 0;
    margin: 0 0 0 5rem;
}

section.s5-ss3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 75%;
    padding: 0;
    margin: 0;
}

section.s5-ss4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 75%;
    padding: 0;
    margin: 0 0 0 5rem;
}

section.s5-ss5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 75%;
    padding: 0;
    margin: 0;
}

.s5-ss6 {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.s5-img {
    height: 100%;
}

.s5-ss1 p, .s5-ss2 p, .s5-ss3 p, .s5-ss4 p, .s5-ss5 p {
    padding: 0;
    margin: 0;
} 

.s5-ss1 h1, .s5-ss2 h1, .s5-ss3 h1, .s5-ss4 h1, .s5-ss5 h1 {
    padding: 0;
    margin: 1rem 0 1rem 0;
} 

img.s5-icon {
    width: 4.375rem;
}

/* ----------Section 6---------- */
.mc-section-6 {
    grid-row: 7 / 8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33.438rem auto;
    background:  var(--color-2);
    width: 100vw;
}

.mc-section-6 h1 {
    color: var(--color-1);
}

.mc-section-6 p {
    color: var(--color-6);
}

.s6-ss1 {
    margin: 15% 0 0 30%;
    width: 75%;
}

.s6-ss1 p {
    margin: 2rem 0 0 0;
    font-size: 1rem;
}

.s6-ss1 i {
    color: var(--color-6);
    font-size: 1.6rem;
    padding-right: 1rem;
}

p.addr {
    padding-left: 2.4rem;
    margin: 0;
}

.s6-ss1:last-child {
    text-align: center;
}

.s6-ss2 {
    margin: 0 0 0 30%;
    width: 75%;
}

.s6-ss2 h1 {
    margin-bottom: 2rem;
}

#map {
    height: 18rem;
    width: 30rem;
    z-index: 100;
}

.s6-ss3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 75%;
    margin: 15% 30% 0 0;
}

.s6-ss3 input:first-child {
    margin-top: 2rem;
}

form p {
    margin-top: 1.8rem;
}

.label {
    color: var(--color-6);
}

.s6-ss3 input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    height: 3.75rem;
    background: var(--color-3);
    border: none;
    padding: 1rem;
    color: var(--color-6);
}

.s6-ss3 select {
    margin-bottom: 1rem;
    width: 100%;
    height: 3.75rem;
    background: #272727;
    border: none;
    padding: 1rem;
    color: var(--color-6);
    padding: 1rem;
}

.s6-ss3 textarea {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    height: 3.75rem;
    background: #272727;
    border: none;
    padding: 1rem;
    color: var(--color-6);
    resize: none;
    height: 12.5rem;
}

.s6-ss3 input::placeholder {
    color: var(--color-6);
}

.s6-ss3 button {
    border-radius: 1rem;
    width: 10rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    height: 3.4rem; 
}

.s6-ss3 button:hover{
    background: var(--color-2);
    border: 1px solid #F2F0F0;
    color: #F2F0F0;
}

/* ----------Footer---------- */

footer {
    grid-row: 8 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-4);
    width: 100vw;
}

footer#footer a, footer#footer p {
    font-size: var(--font-size-xs);
}

.ftr-ss1 {
    text-align: center
}

.ftr-ss1 p {
    color: var(--color-6);
}

p.t-p {
    margin: 1rem 0 0 0;
}

.ftr-ss1 a {
    color: var(--color-6);
    font-size: var(--font-size-xs);
}

.ftr-ss1 span {
    color: #000;
}

.ftr-ss1 img {
    margin: 2rem .6rem 0 .6rem;
    width: 2.5rem;
}

@media only screen and (max-width: 1550px) {
     /* ----------General---------- */
     .site {
        grid-template-rows: 67.5rem 31.25rem 43.75rem 21.875rem 46rem 56.25rem 68.75rem 10rem;
    }

    /* ----------Header---------- */
    .brand-statement {
        grid-column: 2 / 4;
        grid-row: 2 /3;
        z-index: 10;
        margin: 16rem 0 0 10rem;
        color: var(--color-6);
        font-size: 1.2rem;
    }
    
    .brand-tagline {
        grid-column: 2 / 4;
        grid-row: 2 /3;
        z-index: 5;
        margin: 0 0 0 10rem;
        padding-top: 2rem;
        font-size: 4.5rem;
        font-weight: bold;
        color: var(--color-6);
        font-family: 'Lora', serif;
        overflow:  hidden;
    }

    /* ----------Section 1---------- */
    .mc-section-1 {
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
    }

    .s1-card {
        margin: 1rem;
        display: flex;
        margin-top: 75px;
    }

    .s1-img {
        width: 7rem;
    }

    /* ----------Section 2---------- */
    .mc-section-2 {
        grid-template-columns: 38rem 1fr 1fr;
        grid-template-rows: 45% 55%;
    }

    .s2-ss1 {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .s2-ss2 {
        width: 36rem;
        margin: 7.5% 0 0 10%;
    }

    .s2-ss3, .s2-ss4 {
        width: 18rem;
    }

    img.s2-img {
        position: absolute;
        right: 1rem;
    }

    /* ----------Section 3---------- */
        .s3-ss2, .s3-ss4 {
            width: 75%;
        }

    /* ----------Section 4---------- */
    .carousel-item img {
        padding-bottom: 3rem;
        width: 30rem !important;
    }

    .carousel-item {
        height: 46rem;
        position: relative; 
    }
    
    .s4-card1, .s4-card2, .s4-card3, .s4-card4 {
        position: absolute;
        top: 16rem;
        right: 20%;
    }

    .mc-section-4 h1 {
        font-size: var(--font-size-xl);
        font-weight: bold;
    }
    
    .mc-section-4 ul {
        font-size: var(--font-size-s);
    }
    
    p.package {
        font-size: var(--font-size-s);
        padding: 1rem 0 1rem 0;
        margin: 0;
    }
    
    p.start-from {
        font-size: var(--font-size-xs);
        margin: 2rem 0 0 0;
    }
    
    .price {
        font-size: var(--font-size-xl);
        color: var(--color-1);
        font-weight: 500;
    }

    .d-block.w-100.c1 {
        position: absolute;
        top: 16rem;
        left: 15%;
        width: 500px !important;
    }
    
    .d-block.w-100.c2 {
        position: absolute;
        top: 14rem;
        left: 15%;
        width: 500px !important;
    }
    
    .d-block.w-100.c3 {
        width: 200px !important;
        position: absolute;
        left: 25%;
        top: 15rem;
    }
    
    .d-block.w-100.c4 {
        position: absolute;
        top: 12rem;
        left: 15%;
        width: 500px !important;
    }

    /* ----------Section 5---------- */
    .mc-section-5 {
        grid-template-columns: 1fr 1fr 40%;
    }
    
    .s5-ss2, .s5-ss3, .s5-ss4, .s5-ss5 {
        width: 75%;
        font-size: var(--font-size-m);
    }
    .s5-ss5 h1 {
        width: 20rem;
    }

    .s5-ss2, .s5-ss3 {
        padding: 2rem;
    }

    .s5-ss3, .s5-ss5 {
        margin-left: 10%;
    }

    .s5-ss6 {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

     /* ----------Section 6---------- */
    .s6-ss1 {
        margin: 15% 0 0 30%;    
    }

    .s6-ss2 {
        margin: 0 0 0 30%;
        width: calc(30vw); 
    }

    .s6-ss3 {
        margin: 15% 0 0 5%;
        width: calc(30vw); 
    }

    .s6-ss1, .s6-ss2, .s6-ss3 {
        width: 30rem;
    }

    #map {
        height: 18rem;
        width: calc(30vw);
    }
}   

@media only screen and (max-width: 1240px) {
    /* ----------General---------- */
    .site {
        grid-template-rows: 64rem 37.5rem 67.188rem 37.5rem 31.25rem 82.188rem 112.5rem 10rem;
    }
    /* ----------Header---------- */
    .header {
        grid-row: 1 / 2;
    }

    .brand-statement {
        text-align: center;
        grid-column: 2 / 5;
        grid-row: 2 /3;
        z-index: 10;
        margin: 20.125rem auto 0 auto;
        color: var(--color-6);
        font-size: var(--font-size-s)
    }

    .brand-tagline {
        text-align: center;
        grid-column: 2 / 5;
        grid-row: 2 /3;
        z-index: 5;
        margin: 0 auto;
        font-size: 4.25rem;
        font-weight: bold;
        color: var(--color-6);
        font-family: 'Lora', serif;
        overflow:  hidden;
    }

    /* ---------Section 1---------- */
    .mc-section-1 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }

    .card1, .card2, .card3, .card4 {
        width: 50vw;
        margin: 0;
    }

    section.s1-card.card1 {
        padding: 0 0 0 10vw;
    }

    section.s1-card.card2 {
        padding: 0 10vw 0 0;
    }

    section.s1-card.card3 {
        padding: 0 0 0 10vw;
    }

    section.s1-card.card4 {
        padding: 0 10vw 0 0;
    }

    .s1-img {
        width: 5rem;
        padding: 0;
        margin: 0;
        margin-top: 25px;
    }

    .s1-card p {
        width: 50%;
        padding: 0;
        margin: 0;
        font-size: var(--font-size-s);
    }

    .s1-card h2 {
        width: 75%;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .card1 img, .card1 h2, .card1 p, .card3 img, .card3 h2, .card3 p {
        margin-left: 15%;
    }

    .card2 img, .card2 h2, .card2 p, .card4 img, .card4 h2, .card4 p {
        margin-right: 15%;
    }
    
    .card3 p, .card4 p {
        margin-bottom: 2rem;
    }

    /* ---------Section 2---------- */
    .mc-section-2 {
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 31.25rem 1fr 1fr;
    }

    .s2-ss1 h1, .s2-ss2 h1, .s2-ss3 h1, .s2-ss4 h1 {
        padding: 0;
        margin: 1rem 0 1rem 0;
        font-size: var(--font-size-xl);
    }

    .s2-ss1 h2, .s2-ss2 h2, .s2-ss3 h2, .s2-ss4 h2 {
        font-size: var(--font-size-xs);
    }

    .s2-ss1 p, .s2-ss2 p, .s2-ss3 p, .s2-ss4 p {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-s);
    }

    .s2-ss1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: 100vw;
        background-image: url('../imgs/img-02-Spec_1500w.jpg');
        background-size: cover;
        background-position: center;
    }

    .s2-ss1 img {
        display: none;
    }

    .s2-ss2 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        margin: 5rem 0 0 15%;
        width: 31.25rem;
    }

    .s2-ss3 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin: 0 0 5rem 30%;
        width: 60%;
    }

    .s2-ss4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        width: 60%;
    } 

    /* ---------Section 3---------- */
    .mc-section-3 {
        grid-row: 4 / 5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .s3-ss2, .s3-ss4 {
        width: 75%;         
    }

    .s3-img {
        display: none;
    }

    .s3-ss1 {
        background-image: url('../imgs/img-03-4x3_600w.jpg');
        background-size: cover;
        background-position: center;
    }

    .s3-ss3 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        background-image: url('../imgs/img-04-4x3_600w.jpg');
        background-size: cover;
        background-position: center;
    }

    /* ---------Section 4---------- */
    .mc-section-4 {
        grid-row: 5 / 6;
    }

    div.carousel-item {
        height: 31.25rem;
        position: relative;
    }
    
    .s4-card1, .s4-card2, .s4-card3, .s4-card4 {
        right: 15%;
        top: 35%;
        grid-column: 2 / 3;
    }

    .d-block.w-100.c1 {
        top: 35%;
    } 
    
    .d-block.w-100.c2 {
        top: 25%;
    } 
    
    .d-block.w-100.c3 {
        top: 40%;
    } 
    
    .d-block.w-100.c4 {
        top: 25%;
        left: 150px;
    }

    /* ---------Section 5---------- */
    .mc-section-5 {
        grid-row: 6 / 7;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 31.25rem 11.25rem 1fr 1fr ;
    }

    .s5-ss1 h1, .s5-ss2 h1, .s5-ss3 h1, .s5-ss4 h1, .s5-ss5 h1 {
        font-size: var(--font-size-xl);
    }

    .s5-ss1 h2 {
        font-size: var(--font-size-xs);
    }

    .s5-ss1 p, .s5-ss2 p, .s5-ss3 p, .s5-ss4 p, .s5-ss5 p {
        font-size: var(--font-size-s);
    }


    .s5-img {
        display: none;
    }

    .s5-ss6  {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        background-image: url('../imgs/img-08-16x9.jpg');
        background-size: cover;
    }

    .s5-ss1 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        margin-top: 3rem;
    }

    .s5-ss2 p, .s5-ss3 p, .s5-ss4 p, .s5-ss5 p {
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .s5-ss2 h1, .s5-ss3 h1, .s5-ss4 h1, .s5-ss5 h1 {
        margin: 0;
        padding: 1rem 0 1rem 0;
    }

    section.s5-ss1 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        margin-top: 4rem;
    }

    section.s5-ss2 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin-top: 2rem;
    }

    section.s5-ss3 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        margin-top: 2rem;
    }

    section.s5-ss4 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        margin-top: 2rem;
    }

    section.s5-ss5 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        margin-top: 2rem;
    }

    /* ---------Section 6---------- */
    .mc-section-6 {
        grid-row: 7 / 8;
        display: flex;
        flex-direction: column;
    }

    .s6-ss1 {
        grid-row: 2 / 3;
        text-align: center;
        padding: 0;
        margin: 5rem auto 0 auto;
        order: 2;
    }

    .s6-ss2 {
        grid-row: 3 / 4;
        text-align: center;
        padding: 0;
        margin: 5rem auto 0 auto;
        order: 3;
        width: 50%;
    }

    .s6-ss3 {
        grid-row: 1 / 2;
        text-align: center;
        padding: 0;
        margin: 6rem auto 0 auto;
        order: 1;
        width: 60%;
    }

    #map {
        margin: 0 auto;
        width: 100%;
        height: 20rem;
    }
}

@media only screen and (max-width: 1160px) {


    
    .s4-card1, .s4-card2, .s4-card3, .s4-card4 {
        text-align: center;
        position: absolute;
        width: 50vw;
        height: 50vw;
        top: 20%;
        right: 25%;
        padding: 0;
    }

    img.d-block {
        width: 50rem;
        display: none !important;
    }

}

@media only screen and (max-width: 620px) {
     /* ----------General---------- */
     .site {
        grid-template-rows: 46rem 62.5rem 75rem 75rem 112.5rem 28.125rem 106.25rem 10rem;
    }

    /* ---------Header---------- */


    .brand-statement {
        text-align: center;
        grid-column: 2 / 5;
        grid-row: 2 /3;
        z-index: 10;
        margin: 15rem auto 0 auto;
        color: var(--color-6);
        font-size: var(--font-size-s)
    }

    .brand-tagline {
        text-align: center;
        grid-column: 2 / 5;
        grid-row: 2 /3;
        z-index: 5;
        margin: 0 auto;
        font-size: 3rem;
        font-weight: bold;
        color: var(--color-6);
        font-family: 'Lora', serif;
        overflow:  hidden;
    }
        
    /* ---------Section 1---------- */
    .mc-section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.s1-card.card1 {
        padding: 0;
        width: 100vw;
    }

    section.s1-card.card2 {
        padding: 0;
        width: 100vw;
    }

    section.s1-card.card3 {
        padding: 0;
        width: 100vw;
    }

    section.s1-card.card4 {
        padding: 0;
        width: 100vw;
    }

    .s1-card p {
        margin: 0;
        padding: 0 0 1rem 0;
        width: 75%;
    }

    .s1-card h2 {
        margin: 0;
        padding: 1rem 0 1rem 0;
    }

    .s1-card img {
        margin: 1rem 0 0 0;
        padding: 0;
    }

    /* ---------Section 2---------- */
    .mc-section-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .s2-ss1 {
        width: 100%;
        height: 25rem;
    } 
    
    .s2-ss2, .s2-ss3, .s2-ss4 {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        width: 75%;
        height: 18.75rem;
    }

    .s2-ss2 {
        padding-top: 3rem;
    }

    .s2-ss3, .s2-ss4 {
        padding-bottom: 3rem;
    }

    /* ---------Section 3---------- */

    .mc-section-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .s3-ss1, .s3-ss2, .s3-ss3, .s3-ss4 {
        height: 21.875rem;
    }

    .s3-ss2 h2, .s3-ss4 h2 {
        padding-top: 4rem;
    }

    /* ---------Section 5---------- */
    .mc-section-5 {
        grid-row: 5 / 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .s5-ss6 {
        height: 25rem;
        order: 1;
    }

    .s5-ss1 p, .s5-ss2 p, .s5-ss3 p, .s5-ss4 p, .s5-ss5 p {
        margin: 0 auto;
    }

    section.s5-ss1, section.s5-ss2, section.s5-ss3, section.s5-ss4, section.s5-ss5 {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        height: 17.5rem;
    } 

    section.s5-ss1 {
        height: 8.75rem;
        order: 2;
        margin-top: 3rem;
    }

    section.s5-ss2 {
        height: 19.688rem;
        order: 3;
    }

    section.s5-ss3 {
        height: 19.688rem;
        order: 4;
    }

    section.s5-ss4 {
        height: 19.688rem;
        order: 5;
    }

    section.s5-ss5 {
        height: 19.688rem;
        order: 6;
        text-align: center;
    }

    .s5-icon {
        margin: 0;
        padding: 2rem 0 0 0;
    }

    /* ---------Section 4---------- */
    .mc-section-4 {
        grid-row: 6 / 7;
    }

    .carousel-item {
        height: 28.125rem;
    }

    
    /* ---------Section 6---------- */
    .mc-section-6 {
        justify-content: center;
    }
    .s6-ss3 {
        width: 90%;
        height: 53.125rem;
        padding: 0;
        margin: 5rem auto 0 auto;
    }

    .s6-ss3 h1 {
        font-size: var(--font-size-xl);
    }

    .s6-ss3 input {
        height: 50px;
        padding: 0.688rem;
    }

    .s6-ss3 select {
        padding: 0.688rem;
        height: 3rem;
    }

    .s6-ss1 {
        height: 21.875rem;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .s6-ss2 {
        height: 31.25rem;
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }

    #map {
        width: 100%;
    }
}
