/* ----------General---------- */
:root {
    --font-size-xxl: 1.953rem;
    --font-size-xl: 1.563rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 0.8rem;
    --font-size-xs: 0.64rem;
    --color-1: #FF214F;
    --color-2: #1A1A1A;
    --color-3: #272727;
    --color-4: #404040;
    --color-5: #808080;
    --color-6: #F3F3F3;
}